<div class="container">
  <header>
    <div class="profile-pic">
    </div>
    <h1>👨‍💻 Brandon Sanjuan Enríquez</h1>
    <p class="subtitle">Desarrollador de Software Multiplataforma | Estudiante en la Universidad Tecnológica de Coahuila</p>
  </header>

  <section class="sobre-mi fade-in">
    <h2>Sobre mí</h2>
    <p>
      Soy un desarrollador apasionado por la tecnología, actualmente realizando mis estadías en <strong>Stabilus</strong>,
      dentro del área de Recursos Humanos. Me dedico a crear soluciones digitales, dashboards en Power BI,
      automatizaciones con Power Automate..
    </p>
  </section>

  <section class="habilidades fade-in">
    <h2>Habilidades Técnicas</h2>
    <div class="skills">
      <span>💻 Angular</span>
      <span>⚙️ Node.js</span>
      <span>🧠 Power BI</span>
      <span>🤖 Power Automate</span>
      <span>🐧 Git & GitHub</span>
      <span>📦 MySQL</span>
    </div>
  </section>

  <section class="proyectos fade-in">
    <h2>Proyectos Destacados</h2>
    <div class="cards">
      <div class="card">
        <h3>💧 Sistema de Riego Automático</h3>
        <p>
          Proyecto con ESP32 y sensores para automatizar el riego de plantas mediante una app web.
        </p>
      </div>
      <div class="card">
        <h3>📊 Dashboard RH Stabilus</h3>
        <p>
          Dashboard en Power BI con métricas de Recursos Humanos como Headcount, Retención y Ausentismo.
        </p>
      </div>
      <div class="card">
        <h3>🧩 App de Inventario Web</h3>
        <p>
          Aplicación web creada con Angular y Node.js para gestionar productos, ventas y reportes.
        </p>
      </div>
    </div>
  </section>

  <section class="contacto fade-in">
    <h2>Contacto</h2>
    <p>📍 Saltillo, Coahuila</p>
    <p>📍 Telefono: 8443627305</p>
  </section>

  <footer>
    <p>© 2025 Brandon Sanjuan | Desarrollador de Software</p>
  </footer>
</div>
